extends ../common/layout.pug

block append head
    script(src='/js/form-controller.js', defer)

block content
    .form-fullscreen
        h1 #{title}
        form(
            method='post'
            autocomplete='off'
            autocorrect='off'
            spellcheck='false'
        )
            p
                | At this time, community reviews are in private beta.
                | If you've been given an invite code, enter it below to get started.
            fieldset
                .form-infield
                    label(for="invite")= 'Invitation code'
                    input#invite(type="text" name="invite" required)
            fieldset
                legend Account credentials
                .form-infield
                    label(for="email")= 'Your email address'
                    input#email(type="email" name="email" required)
                .form-infield
                    label(for="username")= 'Create a username'
                    input#username(type="text" name="username" required)
                .form-infield
                    label(for="password")= 'Create a password'
                    input#password(type="password" name="password" minlength="10" required)
            fieldset.button-set
                button.button-filled.button-primary(type='submit')= 'Submit'