extends layout

block head
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css', rel='stylesheet')
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js')
    script(src='js/mapbox-controller.js', defer)
    script(src='js/ui-controller.js', defer)

block content
    #map-container
    #sidebar-container
        h1.title #{title}
        form#search-container(action='/api/search' method='post')
            input(
                type='text'
                name='search'
                placeholder='Search by station...'
                aria-autocomplete='list'
            )
            button.search-submit(
                aria-label='Submit search'
            )
            ul#search-results-container(
                aria-label='Search results'
            )
        .stop-details-card.hidden
            .card-header
                h2= 'Central Park'
                button.card-close(aria-label='Close')
            span.subtitle= 'Rail station'
            .stop-accessibility-state
            p.stop-accessibility-info
            span.source-link='Source: '
                a(href='https://www.transitchicago.com/accessibility/' target='_blank')= 'Chicago Transportation Authority'
    
    script.
        var styleUrl = '#{styleUrl}';
        var accessToken = '#{accessToken}';