extends common/layout
include common/mixins.pug

block append head
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css', rel='stylesheet')
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js')
    script(src='/js/ui-controller.js', defer)
    script(src='/js/mapbox-controller.js', defer)

block content
    #map-container
    #sidebar-container
        h1.title
            a #{title}
        form#search-container(
            action='/api/search'
            method='post'
            autocomplete='off'
            autocorrect='off'
            spellcheck='false'
            role='search'
        )
            input(
                type='search'
                name='search'
                placeholder='Search by station...'
                aria-autocomplete='list'
            )
            button.search-submit(
                aria-label='Submit search'
            )
                +icon('search')
            ul#search-results-container(
                aria-label='Search results'
            )
        
        +card('stop-details', '', 'Rail station')
            ul.stop-tags-container
                li.stop-accessibility-state
            p.stop-accessibility-info
            a.stop-alert-link.link-external.hidden(target='_blank')= 'View service alert details'
                +icon('link')
            span.source-link='Source: '
                a(target='_blank')
        
        +card('review-form', 'Rosa Parks Transit Center', 'Bus stop', false)
            form(
                action='/api/submit-review'
                method='post'
                autocomplete='off'
            )
                fieldset
                    legend= 'What features are available at this stop?'
                    ul.feature-option-container
                        li.feature-option
                            input#feature-bench(type='checkbox' name='features[bench]' checked)
                            label(for='feature-bench')
                                +icon('bench')
                                = 'Bench'
                        li.feature-option
                            input#feature-shelter(type='checkbox' name='features[shelter]')
                            label(for='feature-shelter')
                                +icon('shelter')
                                = 'Shelter'
                        li.feature-option
                            input#feature-display(type='checkbox' name='features[display]')
                            label(for='feature-display')
                                +icon('display')
                                = 'Display'
                        li.feature-option
                            input#feature-heating(type='checkbox' name='features[heating]')
                            label(for='feature-heating')
                                +icon('heating')
                                = 'Heating'
                fieldset
                    legend= 'What\'s the accessibility state at this stop?'
                    select(name='state')
                fieldset
                    legend= 'Any additional comments?'
                    textarea(name="comments" placeholder='Provide additional details about this stop’s accessibility that may be useful to other riders.' rows='3')
                fieldset.button-set
                    button.button-filled.button-primary(type='submit')= 'Submit'
                    button.button-filled.form-cancel(type='button')= 'Cancel'
        
        +card('about', 'About', undefined, false)
            p
                |Decades after the passage of the Americans with Disabilities Act, public
                |transportation still remains largely inaccessible to a population that
                |relies on it most. These barriers push disabled people to their physical
                |and financial limits, yet agencies #[a(href='https://www.nytimes.com/2022/06/22/nyregion/nyc-subway-accessibility-disabilities-elevators.html' target='_blank')= 'such as the New York MTA']
                |still have gone largely unchecked in their discriminatory practices.
            p
                |This app is was designed by Ivy, a wheelchair user, for other wheelchair
                |users and their allies. This project is free and
                |#[a(href='https://github.com/ivyrze/transit-a11y' target='_blank')= 'open-source'],
                |so donation contributions are always appreciated.
        
        +card('error')
            +icon('error')
            h2= 'Something went wrong'
            p
                | Things aren't working as expected on our end, sorry about that. Try again in a few minutes.
    
    script.
        var options = !{JSON.stringify(options)};