extends layout

block head
    link(href='/img/favicon-light.png', rel='icon', media='(prefers-color-scheme: dark)')
    link(href='/img/favicon-dark.png', rel='icon', media='(prefers-color-scheme: light)')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css', rel='stylesheet')
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js')
    script(src='js/ui-controller.js', defer)
    script(src='js/mapbox-controller.js', defer)

block content
    #map-container
    #sidebar-container
        h1.title
            a #{title}
        form#search-container(
            action='/api/search'
            method='post'
            autocomplete='off'
            autocorrect='off'
            spellcheck='false'
        )
            input(
                type='text'
                name='search'
                placeholder='Search by station...'
                aria-autocomplete='list'
            )
            button.search-submit(
                aria-label='Submit search'
            )
            ul#search-results-container(
                aria-label='Search results'
            )
        
        .stop-details-card.sidebar-card.hidden
            .card-header
                h2
                button.card-close(aria-label='Close')
            span.subtitle= 'Rail station'
            .stop-accessibility-state
            p.stop-accessibility-info
            a.stop-alert-link.link-external.hidden(target='_blank')= 'View service alert details'
            span.source-link='Source: '
                a(target='_blank')
        
        .about-card.sidebar-card.hidden
            .card-header
                h2= 'About'
                button.card-close(aria-label='Close')
            p
                |Decades after the passage of the Americans with Disabilities Act, public
                |transportation still remains largely inaccessible to a population that
                |relies on it most. These barriers push disabled people to their physical
                |and financial limits, yet agencies #[a(href='https://www.nytimes.com/2022/06/22/nyregion/nyc-subway-accessibility-disabilities-elevators.html' target='_blank')= 'such as the New York MTA']
                |still have gone largely unchecked in their discriminatory practices.
            p
                |This app is was designed by Ivy, a wheelchair user, for other wheelchair
                |users and their allies. This project is free and
                |#[a(href='https://github.com/ivyrze/transit-a11y' target='blank')= 'open-source'],
                |so donation contributions are always appreciated.
    
    script.
        var lightStyleUrl = '#{lightStyleUrl}';
        var darkStyleUrl = '#{darkStyleUrl}';
        var accessToken = '#{accessToken}';